
.nav-btn
{

    background-color: rgba(0,0,0,0.0);
    border: none;
}

h1 {
    text-align: center;
}
h2{
    font-family:'Segoe UI';
    font-weight: lighter;
}

#message{
    align-self: center;
    margin: 20px auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    animation: glisser 0.5s ease-in-out;
    font-size: 20px;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius:10px;
    animation: glisser 0.5s ease-out;
}

#cloned-formulaire, #cloned-note{
    padding: auto;
    margin: auto;
    max-width: 30%;
    max-height: 70%;
}

@keyframes glisser {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Ajoute une animation */
    animation: glisser 0.5s ease-out;
    border-radius: 15px;
}



#connect-form, #inscription-form{
    margin-top: 50px;
    text-align:center;
    max-width: 400px;
    max-height: 700px;
    /* ALigner le formulaire au centre de la page */

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Pour les boutons d'envoi & de connexion dans l'UI */
.form-btn {
    background-color:rgb(80, 8, 248);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

.form-btn:hover {
    background-color: rgb(61, 7, 189);
    transition: 0.5s ease;
}


/* Pour les logos liées aux actions CRUD */
.logo-crud{
    border: none;
    cursor: pointer;
    font-size: 25px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 20px;
    transition: 0.3s ease;
    text-decoration: none;
}

.logo-crud:hover{
    transition: 0.3s ease;
    text-decoration: none;
    font-size:26px;
}


/* Style pour la classe champ */
.champ {
    margin-bottom: 20px;
}

/* Style pour le message de confirmation */
.confirmation {
    text-align: center;
    margin-top: 20px;
}

.confirmation p {
    font-weight: bold;
}

#liste-notes
{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#basse,#moyenne,#haute
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #f0eeee61; */
    border-radius: 10px;
    align-items: center;
    min-height:200px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

}

#basse>h2,#moyenne>h2,#haute>h2{
    font-family:'Segoe UI';
    font-weight: lighter;
}

.message{
    margin: auto;
    animation: glisser 0.5s ease-out;
}
/* Style pour la balise de classe list-box (select & options), style similaire à champ */
.list-box{
    margin-bottom: 20px;
}

#priority {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    width: 90%;
    
}
 /* .basse,.moyenne,.haute{
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}  */

#popup{
    /* Style pour la balise popup qui contient 2 balises qui doivent apparaître en ligne */

    /* Position fixe pour aucun déplacement pendant le scroll */
    opacity: 0;
    position: fixed;
    /* Centré sur la page */
    top: 50%;
    left: 50%;
    /* La taille dépend du contenu */
    max-width: fit-content;
    max-height: fit-content;
    transform: translate(-50%, -50%);
    background-color: #f1f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    /* Position en-dessous des autres éléments */
    z-index: 0;
}

#popup.open{
    opacity: 1;
    transition: 0.5s ease;
    /* Position au-dessus de tous les éléments */
    z-index: 9999;
}

#popup-body{
    display: flex;
    gap: 20px;
    align-items: center;
}

